<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.xxxxx.shop_order_support.mapper.UserMapper">
	<resultMap id="UserResult" type="jp.xxxxx.shop_order_support.entity.User">
		<result column="code" property="code" />
		<result column="password" property="password" />
		<result column="name" property="name" />
		<result column="shop_cd" property="shopCd" />
		<result column="enabled" property="enabled" />

		<result column="shop_name" property="shopName" />
	</resultMap>

	<select id="findOne" resultMap="UserResult">
		select a.code
			, a.password
			, a.name
			, a.shop_cd
			, b.name as shop_name
			, (a.enabled and b.enabled) as enabled
		from m_user a
		left outer join m_shop b
		on a.shop_cd = b.code
		where a.code = #{code}
	</select>
</mapper>