<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.xxxxx.shop_order_support.mapper.entity.UserMapper">

	<resultMap id="userResult" type="jp.xxxxx.shop_order_support.entity.User">
		<id column="code" property="code" />
		<result column="password" property="password" />
		<result column="name" property="name" />
		<result column="shop_cd" property="shopCd" />
		<result column="enabled" property="enabled" />

		<association property="shop" resultMap="shopResult" columnPrefix="shop_"/>
	</resultMap>

	<resultMap id="shopResult" type="jp.xxxxx.shop_order_support.entity.Shop">
		<id column="code" property="code" />
		<result column="name" property="name" />
		<result column="enabled" property="enabled" />
	</resultMap>

	<select id="findOne" resultMap="userResult">
		SELECT u.code
			, u.password
			, u.name
			, u.shop_cd
			, u.enabled
			, s.code AS shop_code
			, s.name AS shop_name
			, s.enabled AS shop_enabled
		FROM m_user u
		INNER JOIN m_shop s
		ON u.shop_cd = s.code
		WHERE u.code = #{code}
	</select>
</mapper>